a.vlink {
    color : #efefef;
    position:relative;
    height:54px;
    width:72px;
    text-align:center;
    line-height:54px;
    display:block;
    font-size:1.2rem;
    margin-bottom: 20px;
  }
  a.vlink span {
    position : absolute;
    opacity: 0;
    transition : transform 400ms ease-out;
    margin-left:24px;
    box-shadow : 2px 4px 3px 1px rgba(0,0,0,0.2);
  }
  a.vlink:nth-of-type(odd){
  
  }
  .card img{
    max-height: 50rem;
  }
  a.vlink span:before {
    content : '';
    display:block;
    width:0;
    height:0;
    position:absolute;
    border-top:8px solid transparent;
    border-bottom:8px solid transparent;
    border-right:8px solid #000;
    left:-12px;
    top:33%;
  }
  a.vlink span:hover {
    background : #000 !important;
  }
  a.vlink:hover {
    box-shadow : 1px 2px 3px #9d451d;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2825b+0,e55b2b+50,f07146+100;Red+3D+%232 */
    background: rgb(242,130,91); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(242,130,91,1) 0%, rgba(229,91,43,1) 50%, rgba(240,113,70,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(242,130,91,1) 0%,rgba(229,91,43,1) 50%,rgba(240,113,70,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(242,130,91,1) 0%,rgba(229,91,43,1) 50%,rgba(240,113,70,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2825b', endColorstr='#f07146',GradientType=1 ); /* IE6-9 */
  }
  
  a.vlink:hover span {
    opacity:1;
    width:120px;
    transform:translateX(12px);
    background : #343434;
    font-size:16px;
    border-radius:6px;
    border-left:4px solid #000;
    padding : 0px 12px 0px 12px
  }
  
  ul {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
    background: rgb(69,72,77); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
    box-shadow :-6px 12px 5px 2px rgba(145,145,145,0.5);
    }
  .time{
    margin-left: -65px;
    margin-top: 35px;
  }
  .create-post{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #01f241;
    color: #fff;
    font-size: 30px;
    transition: 0.3s;
    z-index: 999;
    outline:none;
    box-shadow: 0 0 5px rgba(123, 255, 176, 0.832);
  }
  .create-post:hover{
    width: 80px;
    height: 80px;
    font-size: 40px;
    box-shadow: 0 0 10px rgba(123, 255, 176, 0.832);
  }
  .create-post i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
    cursor: pointer;
  }
  .fa-arrow-right-from-bracket{
    transform: rotate(180deg);
  }
  .custom-alert{
    z-index: 999 ;
    width: 450px;
  }
  #postBody{
    height: 200px;
  }
  .error-message{
    color: red;
    margin-left: 20px;
    margin-bottom: 20px;
  }
i.hidden{
  display: none;
}
.big-text{
  font-size: 70px;
}

.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

