body{
  /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
  /* background-image: linear-gradient(to top, #fbc2eb 80%, #a6c1ee 100%); */
  /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
  background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
  background: linear-gradient(to left, #8d2de275, #4b00e0c2);
  /* background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);} */
}
.card{
  background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
  background: linear-gradient(to right, #2de2cd69, #0f00e00c);
  border: #000 1px solid;
}
#post:hover .card-header, #post:hover .card-body, #post:hover .card-footer{
  background-color: #5838c021;
}
#post:hover img{
  border: 2px dotted  transparent;
}
[id^="post"]:hover img {
  animation: borderFill 1s linear infinite;
}
@keyframes borderFill {
  0% {
    border-color: blue transparent   transparent transparent;
  }
  33% {
    border-color: transparent blue  transparent transparent;
  }
  66% {
    border-color:transparent transparent blue transparent; 
  }
  100% {
    border-color:transparent transparent transparent blue;    
  }
}
#mainInfo{
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      red, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}
#postsTitle{
  background-image: linear-gradient(-225deg, rgb(255, 220, 255) 0%, #D7FFFE 100%);
  width: 50%;
  margin: auto;
  padding: 10px;
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      red, 
      rgba(190, 190, 190, 0)
    ) 1 70%;
}
#commentSection{
  background: linear-gradient(to left, #2dcae22b, #0f00e028);
  /* filter: opacity(1.5); */
  /* background-color: #ffffff; */
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      red, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}
.NV{
  /* background-image: linear-gradient(to top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
  /* background-image: linear-gradient(to right top, #0519376f, #004d7a77, #0087937e, #00bf7387, #a6eb1266); */
  /* background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%); */
  /* background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%); */
  /* background-image: linear-gradient(120deg, #a3bded 80%, #88b8f761 100%); */
  /* background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%); */
  /* background-image: linear-gradient(-225deg, rgb(255, 220, 255) 0%, #D7FFFE 100%); */
  background-image: linear-gradient(-225deg, #7DE2FC 0%, #B9B6E5 100%);

}
#comment{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#addComment{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.blur{
  border: 1px solid rgba(6, 6, 253, 0.165);
  filter: opacity(1.5);

}
#dark-mode-icon{
  background-image: linear-gradient(-225deg, #7DE2FC 0%, #B9B6E5 100%);
}


a.vlink {
    color : #080808;
    position:relative;
    height:54px;
    width:72px;
    text-align:center;
    line-height:54px;
    display:block;
    font-size:1.2rem;
    margin-bottom: 20px;
}
a.vlink span {
    position : absolute;
    opacity: 0;
    transition : transform 400ms ease-out;
    margin-left:24px;
    box-shadow : 2px 4px 3px 1px rgba(0,0,0,0.2);
}
.card img{
    max-height: 50rem;
}
a.vlink span:before {
    content : '';
    display:block;
    width:0;
    height:0;
    position:absolute;
    border-top:8px solid transparent;
    border-bottom:8px solid transparent;
    border-right:8px solid #000;
    left:-12px;
    top:33%;
}
a.vlink span:hover {
  background : #000 !important;
}
a.vlink:hover {
    color : #fff !important;
    /* Darker blue color palette */
box-shadow: 1px 2px 3px #3b5998;

/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0052d4+0,4364f7+50,6fb1fc+100;Blue+3D+%232 */
background: rgb(0,82,212); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(0,82,212,1) 0%, rgba(67,100,247,1) 50%, rgba(111,177,252,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(0,82,212,1) 0%,rgba(67,100,247,1) 50%,rgba(111,177,252,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(0,82,212,1) 0%,rgba(67,100,247,1) 50%,rgba(111,177,252,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0052d4', endColorstr='#6fb1fc',GradientType=1 ); /* IE6-9 */

}
a.vlink:hover span {
    opacity:1;
    width:120px;
    transform:translateX(12px);
    background : #343434;
    font-size:16px;
    border-radius:6px;
    border-left:4px solid #000;
    padding : 0px 12px 0px 12px
}
ul {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
  background: rgb(69,72,77); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
  box-shadow :-6px 12px 5px 2px rgba(145,145,145,0.5);
}
.time{
    margin-left: -65px;
    margin-top: 35px;
}
.create-post{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #02d5ff;
    color: #fff;
    font-size: 30px;
    transition: 0.3s;
    z-index: 999;
    outline:none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.832);
}
.create-post:hover{
  width: 80px;
  height: 80px;
  font-size: 40px;
  box-shadow: 0 0 10px rgba(4, 4, 4, 0.832);
}
.create-post i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 40px;
  cursor: pointer;
}
.fa-arrow-right-from-bracket{
  transform: rotate(180deg);
}
.custom-alert{
  z-index: 999 ;
  width: 450px;
}
#postBody{
  height: 200px;
}
.error-message{
  color: red;
  margin-left: 20px;
  margin-bottom: 20px;
}
i.hidden{
  display: none;
}
.big-text{
  font-size: 70px;
}
.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#dark-mode{
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-image: linear-gradient(-225deg, #7DE2FC 0%, #B9B6E5 100%);  color: #ffffff;
  color: #000;
  font-size: 26px;
  transition: 0.3s;
  z-index: 999;
  outline:none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.832);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
body.dark-mode{
  background-color: #000000;
  background: linear-gradient(to left, #44156d4c, #2100648f);

  color: #fff;
  transition: 0.3s;
}
#mainContainer.dark-mode{
  transition: 0.3s;
  background-color: #2b2b2b;
  color: #222;
  border-radius: 20px;
  box-shadow: 0 50px 10px rgba(200, 37, 37, 0.5);
}
.card.dark-mode{
  background-color: #1212124f;
  color: #fff;
  transition: 0.3s;
}
body.minimal-mode {
  color: #333333;
  background-color: #f5f5f5;
}
.card-header.dark-mode{
  color: #fff;
  transition: 0.3s;
}
#postTitle.dark-mode{
  color: #fff;
  /* background-image: linear-gradient(-225deg, #7DE2FC 0%, #B9B6E5 100%); */
  background: linear-gradient(to right, #2de2cd69, #0f00e00c);

  transition: 0.3s;
}
#minimal-mode{
  position: fixed;
  bottom: 80px;
  left: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-image: linear-gradient(-225deg, #7DE2FC 0%, #B9B6E5 100%);  color: #ffffff;
  color: #000;
  font-size: 26px;
  transition: 0.3s;
  z-index: 999;
  outline:none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.832);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#mainContainer.minimal-mode{
}
body.minimal-mode {
  color: #333333;
  background: linear-gradient(to left, #ffffff75, #ffffffc2);

}


@media (max-width: 768px) {
  #mainContainer{
    margin-top: 20px;
  }
  #NaVBar{
    display: flex!important;
    flex-direction: row!important;
    position: relative!important;
    top: 0px!important;
    left: 0!important;
    /* width: 100%!important; */
    height: fit-content!important;
    border-radius: 0!important;
  }
  .myHeader{
    display: none!important;
  }
  #mainNav{
    width: 100%!important;
    display: flex;
    justify-content: center;
  }
  #Nav{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  ul#list{
    display: flex;
    padding: 0;
    margin: 0;
    width: fit-content;
    justify-content: center !important;
    height: 54px !important;
  }
  ul img, svg{
    /* vertical-align:top !important; */
  }
  ul li a{
    font-size: 17px!important;
  }
  ul li a img{
    width: 35px!important;
    height: 35px!important;
  }
  a.vlink span{
    box-shadow: none!important;
  }
  .navImG{
    padding-top: 0!important;
  }
  /* fixed */
  .create-post{
    bottom: 10px;
    right: 10px;
    opacity: 0.5;
  }
  #dark-mode{
    bottom: 10px;
    left: 10px;
    opacity: 0.5;
  }
  #minimal-mode{
    bottom: 60px;
    left: 10px;
    opacity: 0.5;
  }



  /* card */
  .card{
    width: 300px!important;
    border-radius: 6px;
  }
  #postImg{
    max-width: 20rem;
    max-height: 30rem;
  }
  .modal {
    /* width: 416px!important; */
    border-radius: 6px;
  }
  .col-form-label{
    font-size: 14px!important;
    color: #000;
  }
  .modal-title{
    font-size: 20px!important;
    color: #000;
  }
  div#Register{
    padding-right: 35px!important;
  }
}